body {background-color: #F5F4F1;}
header {position: absolute; left: 0; top: 0; right: 0; z-index: 100; padding: 7rem 2rem 0;}
header .top {display: flex; justify-content: space-between}
header .top div a {display: inline-block; width: 4rem; height: 4rem;}
header .top div a.icon_location {background: url(../images/icon_map.png) no-repeat center / 2.3rem auto;}
header .top div a.icon_alram {background: url(../images/icon_alram.png) no-repeat center / 2.3rem auto;}
.logo a {display: block; width: 9.4rem; height: 4rem; background: url(../images/h1_logo.png) no-repeat 0 0 / 100% auto;}
.btn_program_view{width: 4.5rem; height: 5rem; background:url(../images/bg_arrow_down.png) no-repeat center bottom 1rem / 1.2rem auto #fff; 
    border-radius: 0 0 4.5rem 4.5rem; position: absolute; left: 50%; top: 0; transform: translateX(-50%); box-shadow: 0 0.5rem 0 rgba(0,0,0,0.1);}

.gnb {padding: 2.5rem 0;}
.gnb ul {display: flex; justify-content: space-between;}
.gnb ul a {display: block; padding: 0 1.2rem; line-height: 3.5rem; color: #fff; font-weight: 500; font-size: 1.8rem; border-radius: 3.5rem;}
.gnb ul .active a {color: #F17785; background-color: #fff;}

.visual {border-radius: 0 0  5% 15%;}
.visual .swiper-slide > div {padding: 0 0 11.7rem 4rem; height: 50rem; display: flex; justify-content: flex-end; flex-direction: column; box-sizing: border-box;}
.visual .swiper-slide > div p {font-family: 'NanumSquareRound'; line-height: 2.76rem;}
.visual .swiper-slide > div p span {color: #FFD8BC; font-size: 1.8rem; text-shadow: 0.15rem 0 rgba(0,0,0,0.15); font-weight:bold;}
.visual .swiper-slide > div p em {display: block; color: #fff; font-size: 1.8rem; text-shadow: 0.15rem 0 rgba(0,0,0,0.15); font-weight:bold;}
.visual .swiper-slide > div img {width: 7.5rem; padding: 0.6rem 0 1.5rem;}
.visual .swiper-slide > div.visual_page1 {background:url(../images/bg_visual1.png) no-repeat right bottom / auto 28.6rem #F17785;}
.visual .swiper-slide > div.visual_page2 {background:url(../images/bg_visual2.png) no-repeat right bottom / auto 28.6rem #ABCD05;}
.visual .swiper-slide > div .btn_go {display: block; width: 5.25rem; line-height: 3rem; background: url(../images/bg_arrow_right.png) no-repeat right 1rem center / auto .8rem; border-radius: 3rem; background-color: #fff; color: #999999; padding: 0 0 0 1rem; font-size: 1.4rem;}

.login_wrap {position: relative; z-index: 120; margin: -5rem auto 0; padding: 2rem; width: calc(100% - 4rem); height: 14.8rem; background-color: #fff; border-radius: 1.5rem; box-shadow: 0 .5rem 0 rgba(0,0,0,.1); box-sizing: border-box;}
.login {font-size: 1.6rem; color: #999;}
.login b {display: block; padding: 0 0 1.7rem; color: #333;}
.login > div {text-align: center;}
.logout h2 {float: left; font-size: 1.6rem; color: #333; font-weight: normal;}
.logout h2 b {color: #ABCD05;}
.logout > div {float: right; font-size: 0;}
.logout > div img {width: 3rem; border: 0.2rem solid #fff; border-radius: 100%;}
.logout > div img + img {margin-left: -1.2rem;}
.logout ul {display: flex; clear: both; padding: 1.7rem 0 0 0;}
.logout ul li {flex: 1; text-align: center; font-size: 1.4rem; color: #999;}
.logout ul li + li {border-left: .1rem solid #F5F5F5;}
.logout ul li strong {font-size: 3.5rem; color: #666; font-weight: 800; font-family: 'NanumSquareRound';}
.logout ul li img {width: 3.5rem; border-radius: 100%; border: .15rem solid #fff; outline: .15rem solid #17298B;}
.logout ul li div {position: relative; display: inline-block;}
.logout ul li div span {position: absolute; right: -0.9rem; top: 0; padding: 0 0.4rem; border: .2rem solid #F17785; font-size: 1.1rem; color: #ABCD05; font-weight: 800; font-family: 'NanumSquareRound'; background: #fff; border-radius: 1.6rem; height: 1.6rem; box-sizing: border-box; box-shadow: 0 .2rem 0 rgba(0,0,0,.1);}

.thanks {padding: 0 0 4rem 2rem;}
.thanks a {display: flex; flex-direction: column; min-height: 27.9rem; background: #fff; padding: 2rem; border-radius: 1.5rem; box-shadow: 0 0.5rem 0 rgba(0,0,0,.1); box-sizing: border-box;}
.thanks h3 {font-size: 1.6rem; color: #333; order: 2; padding: 2.7rem 0 0;}
.thanks .txt { order: 3; padding: 1rem 0 ; font-size: 1.4rem; color: #666; line-height: 2.2rem;}
.thanks .info {order: 1; display: flex; justify-content: space-between;}
.thanks .info img {height: 3rem;}
.thanks .info span {color: #ccc; font-size: 1.4rem;}
.thanks .info2 {order: 4; height: 3rem; font-size: 1.4rem; color: #666; background: url(../images/btn_go.png) no-repeat right center / 3rem auto;}

.review {background: #85D0C3;}
.review .ad {padding: 3rem 2rem;}
.review .ad img {width: 100%;}
.review_slide {padding: 0 2rem;}
.review_slide .clear {min-width: 17.25rem; padding: 0.8rem 1.3rem; background-color: #fff; border-radius: 1.5rem; box-shadow: 0 .5rem 0 rgba(0,0,0,.1); box-sizing: border-box;}
.review_slide .right {float: right; color: #55827A;}
.review_slide .right strong {font-size: 1.8rem;}
.review_slide .right p {font-size: 1.4rem;}
.review_slide .right span {font-size: 1.2rem; color: #78BCB0;}

.review_slide .left {float: left; text-align: center;}
.review_slide .left .thoumb {width: 6rem; height: 6rem; border-radius: 100%; border: .3rem solid #78bcb0; box-sizing: border-box; display: block;}
.review_slide .left .logo {width: 4.25rem; margin-top: -0.95rem;}
.review_slide .paging {padding: 2.1rem 0 0;}
.review_slide .paging > span {width: .7rem; height: .7rem; background-color: #78BCB0; opacity: 1; border-radius: .7rem; transition: width .3s;}
.review_slide .paging > span.swiper-pagination-bullet-active { width: 3rem; background-color:#fff;}


.tit {display: flex; justify-content: space-between; padding:4rem 1.5rem 2rem;}
.h2 {padding: 0 1.4rem; line-height: 3.5rem; border: .2rem solid #96938B;  border-radius: 3.5rem ; font-size: 1.6rem; color: #96938B; font-weight: 800; background-color: #fff;}
.h2_2 {color: #fff; font-size: 1.8rem;}

.btn_more {display: inline-block; width: 4rem; height: 3.5rem; background: url(../images/icon_more.png) no-repeat 0 center / 100% auto;}
.btn_type1 {display: inline-block; padding: 0 3.4rem 0 1.2rem; line-height: 4rem; border-radius: 4rem; color: #fff; font-size: 1.4rem; background: url(../images/bg_arrow_right_white.png) no-repeat right 1.4rem center / 1rem auto;}
.btn_type1.green {background-color: #ABCD05;}
.btn_type1.gray {background-color: #999999;}

